.dropdown {
    position: relative;
    display: inline-block;
    &-toggle {
        cursor: pointer;
    }

    &-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: -165px;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        animation-duration: 1.25s;
        padding: 0;
        &::before {
            content: "";
            position: absolute;
            top: -15px;
            border: 11px solid;
            border-color: transparent transparent #fff transparent;
            right: 0px;
        }
        & > li > a {
            padding: 12px 20px;
        }
    }

    &:hover .dropdown-menu {
        display: block;
    }
}
