.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    &__form {
        width: 30%;
    }
    &__title {
        font-size: 3.2rem;
        font-weight: 600;
        text-align: center;
    }
    &__content {
        margin-top: 20px;
        display: grid;
        row-gap: 15px;
    }
    &__box {
        position: relative;
    }
    &__input {
        width: 100%;
        padding: 1rem 1.8rem;
        border-radius: 8px;
        border: 1px solid #ddd;
        outline: none;
    }
    &__label {
        position: absolute;
        left: 0;
        color: #ddd;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 17px;
        user-select: none;
        pointer-events: none;
        transition: 0.25s ease;
    }
    &__eye {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.login__input:focus {
    border: 1px solid #6a5af9;
    & + .login__label {
        top: 0;
        left: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background: #fff;
        color: #6a5af9;
    }
}
