*,
::after,
::before {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--bg-color);
    font-size: 1.6rem;
    font-family: "DVN-Poppins";
    color: var(--text-color);
    scroll-behavior: smooth;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
}
button,
textarea,
input,
select {
    font-family: inherit;
    color: inherit;
}
.mt-32 {
    margin-top: 32px;
}
.row::before {
    content: none;
}
.mt-header {
    margin-top: 82px;
}
@media (min-width: 1400px) {
    .container {
        --bs-gutter-x: 0;
        max-width: 1250px;
        margin-left: 0;
        margin-right: 0;
    }
}
