html {
    --text-color: #fff;
    --bg-color: #23201d;

    // nav
    --nav-shadow: rgba(97, 0, 194, 0.4);

    //dropdown
    --dropdown-bg-color: #fff; // Màu nền của dropdown
    --dropdown-hover-color: #f0f0f0; // Màu nền khi hover
    --dropdown-border-color: #ddd; // Màu đường viền

    //footer
    --border-footer: #626260;
    --color-link-footer: #acacac;

    // Login
}
