%flexItemCenter {
    display: flex;
    align-items: center;
}
.content {
    display: flex;
    padding: 40px 30px;
}
.top-bar {
    @extend %flexItemCenter;
    justify-content: space-between;
    inset: 0 0 0 274px;
}
.top-list {
    @extend %flexItemCenter;
    gap: 32px;
}
.top-link {
    font-weight: 500;
    line-height: 1.12;
}

.top-act {
    &__group {
        @extend %flexItemCenter;
        gap: 24px;
    }
    &__user {
        @extend %flexItemCenter;
        gap: 9px;
    }
    &__avt {
        width: 30px;
        border-radius: 50%;
    }

    .dropdown {
        position: relative;
        display: inline-block;

        &-toggle {
            cursor: pointer;
        }

        &-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: -50%;
            background-color: #fff;
            min-width: 160px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            animation-duration: 1.25s;
        }

        &:hover .dropdown-menu {
            display: block;
        }
    }
    .log-in-logo {
        width: 24px;
        height: 24px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(7493%) hue-rotate(79deg) brightness(101%) contrast(101%);
    }
}
